.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  padding: 1rem 2rem;
  color: #fff;
  position: relative;
  z-index: 1000;
}

/* ---------- LEFT ---------- */
.left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.logo h1 strong {
  font-weight: 300;
  color: var(--muted);
}

.logo h1 span {
  font-weight: 300;
  color: red;
}

.icon {
  width: 32px;
  height: 32px;
}

/* ---------- RIGHT (Nav Links) ---------- */
.right {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  transition: all 0.3s ease;
}

.right a {
  color: var(--muted);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.right a:hover {
  color: var(--accent-hover);
}

.active {
  color: var(--accent) !important;
  font-weight: 600;
  border-bottom: 2px solid var(--accent);
  padding-bottom: 4px;
}

/* ---------- MENU BUTTON ---------- */
.menuBtn {
  display: none;
  background: transparent;
  border: 1px solid var(--border);
  color: white;
  border-radius: var(--radius);
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.menuBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* ---------- MOBILE NAV ---------- */
@media (max-width: 768px) {
  .right {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 1.2rem;
    background: var(--bg);
    border-bottom: 1px solid var(--border);
    padding: 1rem 0;
    transform: translateY(-10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
  }

  /* When menu is open */
  .open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .right a {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .menuBtn {
    display: block;
    z-index: 1100;
  }
}
